In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("./data/methane-emissions-by-sector-gg-coe.csv")

In [9]:
df.head()

,Entity,Code,Year,Energy (tonnes),Industry (tonnes),Residential & commercial (tonnes),Other sources (tonnes),Land use (tonnes),Agriculture (tonnes),Waste (tonnes),Transport (tonnes),International bunkers (tonnes)
0,Afghanistan,AFG,1961,NaN,NaN,NaN,NaN,NaN,6001365.4,NaN,NaN,NaN
1,Afghanistan,AFG,1962,NaN,NaN,NaN,NaN,NaN,6108210.1,NaN,NaN,NaN
2,Afghanistan,AFG,1963,NaN,NaN,NaN,NaN,NaN,6342592.9,NaN,NaN,NaN
3,Afghanistan,AFG,1964,NaN,NaN,NaN,NaN,NaN,6445046.3,NaN,NaN,NaN
4,Afghanistan,AFG,1965,NaN,NaN,NaN,NaN,NaN,6592295.9,NaN,NaN,NaN

In [19]:
df.describe

<bound method NDFrame.describe of             Entity Code  Year  Energy (tonnes)  Industry (tonnes)  \
0      Afghanistan  AFG  1961              NaN                NaN
1      Afghanistan  AFG  1962              NaN                NaN
2      Afghanistan  AFG  1963              NaN                NaN
3      Afghanistan  AFG  1964              NaN                NaN
4      Afghanistan  AFG  1965              NaN                NaN
...            ...  ...   ...              ...                ...
13808     Zimbabwe  ZWE  2012              NaN                NaN
13809     Zimbabwe  ZWE  2013              NaN                NaN
13810     Zimbabwe  ZWE  2014              NaN                NaN
13811     Zimbabwe  ZWE  2030              NaN                NaN
13812     Zimbabwe  ZWE  2050              NaN                NaN

       Residential & commercial (tonnes)  Other sources (tonnes)  \
0                                    NaN                     NaN
1                                    NaN                     NaN
2                                    NaN                     NaN
3                                    NaN                     NaN
4                                    NaN                     NaN
...                                  ...                     ...
13808                                NaN                     NaN
13809                                NaN                     NaN
13810                                NaN                     NaN
13811                                NaN                     NaN
13812                                NaN                     NaN

       Land use (tonnes)  Agriculture (tonnes)  Waste (tonnes)  \
0                    NaN             6001365.4             NaN
1                    NaN             6108210.1             NaN
2                    NaN             6342592.9             NaN
3                    NaN             6445046.3             NaN
4                    NaN             6592295.9             NaN
...                  ...                   ...             ...
13808                NaN             5181843.7             NaN
13809                NaN             5041342.4             NaN
13810                NaN             5168103.3             NaN
13811                NaN             7692299.0             NaN
13812                NaN             9855402.1             NaN

       Transport (tonnes)  International bunkers (tonnes)
0                     NaN                             NaN
1                     NaN                             NaN
2                     NaN                             NaN
3                     NaN                             NaN
4                     NaN                             NaN
...                   ...                             ...
13808                 NaN                             NaN
13809                 NaN                             NaN
13810                 NaN                             NaN
13811                 NaN                             NaN
13812                 NaN                             NaN

[13813 rows x 12 columns]>